<div class="Titel1">
    <h1>Ausstellungsfläche Form</h1>
</div>
<div class="Main">
<form>
    <h1>Ausstellung Form</h1>
	<div>
        <label for="id"></label>
        <input type="hidden" id="id" name="id"  value="#context['id']#" />
    </div>
    <div>
        <label for="Name"></label>
        <input type="text" id="Name" class="input" name="Name" placeholder="Ausstellung Name" value="#context['Name']#" required>
    </div>
     <div class="idButtonArea" class="clButtonArea Schalter_form" >
        <button id="idBack_ausstellung">Zurück</button>
        <button id ="idSave_ausstellung">Speichern</button>
    </div>
</form>
</div>