<div class="Titel1">
	<h1>Mitarbeiter</h1>
</div>
		<div id="Verwaltung">
		<button class="btn-dashboard dashboard-austeller btn1" id="showAussteller">Austeller</button>
		<button class="btn-dashboard dashboard-ausstellungsfläche btn1" id="showAusstellungsfläche">Ausstellungsfläche</button>
		<button class="btn-dashboard dashboard-halle btn1" id="showHalle">Halle</button>
	</div>

	<div id="Panel">
		<div id="Pinnwand">
			<table id="Dashboard_table">
		      	<tr>
			      <th>Position</th>
			      <th>Name</th>
		   		</tr>
		       	<tr>
			        <td>AB</td>
			        <td>1. Fläche </td>
		    	</tr>
		    	<tr>
			        <td>BA</td>
			        <td>2. Fläche </td>
		    	</tr>
		    	<tr>
			        <td>BB</td>
			        <td>3. Fläche </td>
		    	</tr>
		    	<tr>
			        <td>BC</td>
			        <td>4. Fläche </td>
		    	</tr>
		    	<tr>
			        <td>CB</td>
			        <td>5. Fläche </td>
		    	</tr>
			</table>
		</div>

		<div class="container_dashboard">
			<div class="ausstellung" style="grid-area: AB">1.Fläche </div>
			<div class="ausstellung" style="grid-area: BA">2.Fläche </div>
			<div class="ausstellung" style="grid-area: BB">3.Fläche </div>
			<div class="ausstellung" style="grid-area: BC">4.Fläche </div>
			<div class="ausstellung" style="grid-area: CB">5.Fläche </div>

			<div id="cafe">
				<i class="fas fa-coffee fa-lg"></i>
			</div>

			<div class="gang" id="gang1">
				<i class="fas fa-angle-double-right fa-lg"></i>
			</div>

			<div class="gang" id="gang2">
				<i class="fas fa-angle-double-right fa-lg"></i>
			</div>

			<div id="buro">
				<i class="fas fa-briefcase fa-3x"></i>
			</div>

			<div class="notfall" id="notfall1">
				<i class="fas fa-medkit fa-lg"></i>
			</div>

			<div class="notfall" id="notfall2">
				<i class="fas fa-medkit fa-lg"></i>
			</div>

			<div class="notfall"  id="notfall3">
				<i class="fas fa-medkit fa-lg"></i>
			</div>

			<div id="info">
				<i class="fas fa-info-circle fa-2x"></i>
			</div>

			<div id="wc">
				<i class="fas fa-restroom fa-lg"></i>
			</div>

			<div class="name" style="grid-area: CA"></div>
			<div class="name" style="grid-area: AC"></div>
		</div>
	</div>

	<div id="Verwaltung2" >
		<button class="btn-dashboard dashboard-einteilen btn1" id="showEinteilung">Einteilen</button>
		<button class="btn-dashboard dashboard-stand btn1" id="standBuchung">Stand der Buchung</button>
		<button class="btn-dashboard dashboard-abmelden btn1" id="abmelden">Abmelden</button>
	</div>

