<div class="Titel1">
    <h1>Einteilung Form</h1>
</div>

<div class="Main">
<form>
    <h1>Einteilung Form</h1>
    <div>
        <label for="id"></label>
        <input type="hidden" id="id" name="id"  value="#context['id']#" />
    </div>

    <div class="box">
        <label for="HalleID"></label>
        <select id="HalleID"  name="HalleID">
            <option value="" disabled selected>Halle-ID</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    </div>

    <div class="box">
        <label for="AussellungID"></label>
        <select id="AussellungID"  name="AussellungID">
            <option value="" disabled selected>Aussellung-ID</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    </div>

    <div class="box">
        <label for="Position"></label>
        <select id="Position"  name="Position">
            <option value="" disabled selected>Position</option>
            <option value="AB">AB</option>
            <option value="BA">BA</option>
            <option value="BB">BB</option>
            <option value="BC">BC</option>
            <option value="CB">CB</option>
        </select>
    </div>

    <div class="box">
        <label for="Status"></label>
        <select id="Status"  name="Status">
            <option value="" disabled selected>Status</option>
            <option value="frei">Frei</option>
            <option value="gespert">Gesperrt</option>
        </select>
    </div>

     <div class="idButtonArea" class="clButtonArea Schalter_form" >
        <button id ="idSave_einteilung">Speichern</button>
        <button id="idBack_einteillung">Zurück</button>
    </div>
</form>
</div>