<div class="Titel1">
	<h1>weitere Informationen suchen</h1>
</div>
<div id="autocomplete">
	<select id="select" onchange="mySelect(this.value)">
		<option value = "" selected disabled>Suchen......</option>
		<option value = "Halle">Halle</option>
		<option value = "Ausstellung"> Ausstellungsfläche</option>
		<option value = "Aussteller">Aussteller</option>
	</select>
	<input type="text" id="search" onkeyup="search()" placeholder="Enter name">
	<div id="match-list">
		
	</div>
</div>

<div class="idButtonArea" class="clButtonArea Schalter_form" >
    <button id ="showMap">Zurück</button>
</div>
		


	
